**/node_modules
**/.next
**/.turbo
**/dist
**/ios
**/android
**/.gradle
**/.cache
**/coverage
**/playwright-report
**/test-results
**/.eslintcache
**/*.tsbuildinfo
**/public/sw.js
**/public/workbox-*.js
www-apk
**/.git
**/.DS_Store
