--
-- PostgreSQL database dump
--

\restrict X7DRhvzExAbDMkhG9f5GHGZT1hhpQyJqTpwlcA8DpgZZ4qVElNKaepmE2vC123d

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: events; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA events;


ALTER SCHEMA events OWNER TO app;

--
-- Name: forum; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA forum;


ALTER SCHEMA forum OWNER TO app;

--
-- Name: reel; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA reel;


ALTER SCHEMA reel OWNER TO app;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA forum;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA forum;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: event_inbox; Type: TABLE; Schema: events; Owner: app
--

CREATE TABLE events.event_inbox (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    source text NOT NULL,
    event_id text NOT NULL,
    event_type text NOT NULL,
    aggregate_type text NOT NULL,
    aggregate_id text NOT NULL,
    payload jsonb NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    retry_count integer DEFAULT 0 NOT NULL,
    available_at timestamp with time zone DEFAULT now() NOT NULL,
    processed_at timestamp with time zone,
    error_message text,
    received_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT event_inbox_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'processing'::text, 'processed'::text, 'failed'::text])))
);


ALTER TABLE events.event_inbox OWNER TO app;

--
-- Name: event_outbox; Type: TABLE; Schema: events; Owner: app
--

CREATE TABLE events.event_outbox (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    aggregate_type text NOT NULL,
    aggregate_id text NOT NULL,
    event_type text NOT NULL,
    routing_key text NOT NULL,
    payload jsonb NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    retry_count integer DEFAULT 0 NOT NULL,
    available_at timestamp with time zone DEFAULT now() NOT NULL,
    published_at timestamp with time zone,
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT event_outbox_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'publishing'::text, 'published'::text, 'failed'::text])))
);


ALTER TABLE events.event_outbox OWNER TO app;

--
-- Name: _sqlx_migrations; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum._sqlx_migrations (
    version bigint NOT NULL,
    description text NOT NULL,
    installed_on timestamp with time zone DEFAULT now() NOT NULL,
    success boolean NOT NULL,
    checksum bytea NOT NULL,
    execution_time bigint NOT NULL
);


ALTER TABLE forum._sqlx_migrations OWNER TO app;

--
-- Name: lajukan_forum_audit_logs; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_audit_logs (
    id text NOT NULL,
    action text NOT NULL,
    actor_user_id text NOT NULL,
    target_type text NOT NULL,
    target_id text NOT NULL,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE forum.lajukan_forum_audit_logs OWNER TO app;

--
-- Name: lajukan_forum_categories; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_categories (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    icon text DEFAULT 'forum'::text NOT NULL,
    color text DEFAULT '#0ea5e9'::text NOT NULL,
    parent_id text,
    "position" integer DEFAULT 0 NOT NULL,
    thread_count integer DEFAULT 0 NOT NULL,
    post_count integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE forum.lajukan_forum_categories OWNER TO app;

--
-- Name: lajukan_forum_posts; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_posts (
    id text NOT NULL,
    thread_id text NOT NULL,
    author_id text NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    like_count integer DEFAULT 0 NOT NULL,
    reply_to_post_id text,
    is_answer boolean DEFAULT false NOT NULL,
    reactions jsonb DEFAULT '{}'::jsonb NOT NULL,
    image_urls text[] DEFAULT '{}'::text[] NOT NULL
);


ALTER TABLE forum.lajukan_forum_posts OWNER TO app;

--
-- Name: lajukan_forum_tags; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_tags (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    color text DEFAULT '#64748b'::text NOT NULL,
    usage_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE forum.lajukan_forum_tags OWNER TO app;

--
-- Name: lajukan_forum_thread_tags; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_thread_tags (
    thread_id text NOT NULL,
    tag_slug text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL
);


ALTER TABLE forum.lajukan_forum_thread_tags OWNER TO app;

--
-- Name: lajukan_forum_threads; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_threads (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    category_id text NOT NULL,
    author_id text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_activity_at timestamp with time zone DEFAULT now() NOT NULL,
    views integer DEFAULT 0 NOT NULL,
    reply_count integer DEFAULT 0 NOT NULL,
    like_count integer DEFAULT 0 NOT NULL,
    bookmark_count integer DEFAULT 0 NOT NULL,
    is_pinned boolean DEFAULT false NOT NULL,
    is_locked boolean DEFAULT false NOT NULL,
    is_solved boolean DEFAULT false NOT NULL,
    solution_post_id text,
    status text DEFAULT 'open'::text NOT NULL,
    image_urls text[] DEFAULT '{}'::text[] NOT NULL,
    group_id text
);


ALTER TABLE forum.lajukan_forum_threads OWNER TO app;

--
-- Name: lajukan_forum_users; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_users (
    id text NOT NULL,
    username text NOT NULL,
    name text NOT NULL,
    avatar_url text DEFAULT '/default-avatar.svg'::text NOT NULL,
    title text DEFAULT 'Community Member'::text NOT NULL,
    reputation integer DEFAULT 0 NOT NULL,
    base_reputation integer DEFAULT 0 NOT NULL,
    badges text[] DEFAULT '{}'::text[] NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    identity_synced_at timestamp with time zone,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE forum.lajukan_forum_users OWNER TO app;

--
-- Name: lajukan_forum_votes; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_forum_votes (
    id text NOT NULL,
    target_type text NOT NULL,
    target_id text NOT NULL,
    user_id text NOT NULL,
    value integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT lajukan_forum_votes_value_check CHECK ((value = ANY (ARRAY['-1'::integer, 1])))
);


ALTER TABLE forum.lajukan_forum_votes OWNER TO app;

--
-- Name: lajukan_group_members; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_group_members (
    group_id text NOT NULL,
    user_id text NOT NULL,
    role text DEFAULT 'member'::text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    notifications_enabled boolean DEFAULT true NOT NULL,
    joined_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT lajukan_group_members_role_check CHECK ((role = ANY (ARRAY['owner'::text, 'moderator'::text, 'member'::text]))),
    CONSTRAINT lajukan_group_members_status_check CHECK ((status = ANY (ARRAY['active'::text, 'pending'::text, 'blocked'::text])))
);


ALTER TABLE forum.lajukan_group_members OWNER TO app;

--
-- Name: lajukan_groups; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_groups (
    id text NOT NULL,
    category_id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text DEFAULT ''::text NOT NULL,
    privacy text DEFAULT 'public'::text NOT NULL,
    posting_permission text DEFAULT 'member'::text NOT NULL,
    membership_permission text DEFAULT 'open'::text NOT NULL,
    cover_url text,
    rules text[] DEFAULT '{}'::text[] NOT NULL,
    created_by_user_id text,
    status text DEFAULT 'active'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT lajukan_groups_membership_permission_check CHECK ((membership_permission = ANY (ARRAY['open'::text, 'approval'::text, 'invite'::text]))),
    CONSTRAINT lajukan_groups_posting_permission_check CHECK ((posting_permission = ANY (ARRAY['public'::text, 'member'::text, 'moderator'::text]))),
    CONSTRAINT lajukan_groups_privacy_check CHECK ((privacy = ANY (ARRAY['public'::text, 'private'::text, 'hidden'::text]))),
    CONSTRAINT lajukan_groups_status_check CHECK ((status = ANY (ARRAY['active'::text, 'archived'::text, 'blocked'::text])))
);


ALTER TABLE forum.lajukan_groups OWNER TO app;

--
-- Name: lajukan_reel_events; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_reel_events (
    id text NOT NULL,
    reel_id text NOT NULL,
    actor_user_id text,
    anon_key_hash text,
    event_type text NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT lajukan_reel_events_event_type_check CHECK ((event_type = ANY (ARRAY['view'::text, 'watch'::text, 'like'::text, 'share'::text, 'comment'::text, 'open_store'::text, 'open_product'::text])))
);


ALTER TABLE forum.lajukan_reel_events OWNER TO app;

--
-- Name: lajukan_reel_user_actions; Type: TABLE; Schema: forum; Owner: app
--

CREATE TABLE forum.lajukan_reel_user_actions (
    id text NOT NULL,
    reel_id text NOT NULL,
    actor_user_id text NOT NULL,
    target_user_id text,
    action text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT lajukan_reel_user_actions_action_check CHECK ((action = ANY (ARRAY['like'::text, 'save'::text, 'follow'::text])))
);


ALTER TABLE forum.lajukan_reel_user_actions OWNER TO app;

--
-- Name: lajukan_reel_comments; Type: TABLE; Schema: reel; Owner: app
--

CREATE TABLE reel.lajukan_reel_comments (
    id text NOT NULL,
    reel_id text NOT NULL,
    author_user_id text NOT NULL,
    author_name text NOT NULL,
    author_avatar_url text,
    body text NOT NULL,
    status text DEFAULT 'published'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    parent_comment_id text,
    reply_count integer DEFAULT 0 NOT NULL,
    author_avatar text,
    CONSTRAINT lajukan_reel_comments_status_check CHECK ((status = ANY (ARRAY['published'::text, 'deleted'::text, 'blocked'::text])))
);


ALTER TABLE reel.lajukan_reel_comments OWNER TO app;

--
-- Name: lajukan_reels; Type: TABLE; Schema: reel; Owner: app
--

CREATE TABLE reel.lajukan_reels (
    id text NOT NULL,
    creator_user_id text,
    creator text NOT NULL,
    title text NOT NULL,
    caption text NOT NULL,
    tag text NOT NULL,
    product_name text,
    product_price text,
    product_href text,
    video_src text NOT NULL,
    source_url text NOT NULL,
    likes_count bigint DEFAULT 0 NOT NULL,
    comments_count bigint DEFAULT 0 NOT NULL,
    shares_count bigint DEFAULT 0 NOT NULL,
    tone text DEFAULT 'emerald'::text NOT NULL,
    icon_key text DEFAULT 'supplier'::text NOT NULL,
    media_url text NOT NULL,
    media_type text DEFAULT 'video'::text NOT NULL,
    hook text DEFAULT ''::text NOT NULL,
    store_id text DEFAULT ''::text NOT NULL,
    store_slug text DEFAULT ''::text NOT NULL,
    store_name text DEFAULT ''::text NOT NULL,
    store_city text DEFAULT ''::text NOT NULL,
    store_phone text,
    storefront_path text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'published'::text NOT NULL,
    published_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    filter_preset text DEFAULT 'natural'::text NOT NULL,
    capture_mode text DEFAULT 'upload'::text NOT NULL,
    live_status text DEFAULT 'none'::text NOT NULL,
    live_title text,
    live_scheduled_at timestamp with time zone,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    CONSTRAINT lajukan_reels_capture_mode_check CHECK ((capture_mode = ANY (ARRAY['upload'::text, 'camera'::text, 'live'::text]))),
    CONSTRAINT lajukan_reels_filter_preset_check CHECK ((filter_preset = ANY (ARRAY['natural'::text, 'warm'::text, 'fresh'::text, 'cinema'::text, 'mono'::text, 'pop'::text]))),
    CONSTRAINT lajukan_reels_live_status_check CHECK ((live_status = ANY (ARRAY['none'::text, 'scheduled'::text, 'live'::text, 'ended'::text]))),
    CONSTRAINT lajukan_reels_media_type_check CHECK ((media_type = ANY (ARRAY['video'::text, 'image'::text]))),
    CONSTRAINT lajukan_reels_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'published'::text, 'archived'::text, 'blocked'::text])))
);


ALTER TABLE reel.lajukan_reels OWNER TO app;

--
-- Data for Name: event_inbox; Type: TABLE DATA; Schema: events; Owner: app
--

COPY events.event_inbox (id, source, event_id, event_type, aggregate_type, aggregate_id, payload, status, retry_count, available_at, processed_at, error_message, received_at) FROM stdin;
\.


--
-- Data for Name: event_outbox; Type: TABLE DATA; Schema: events; Owner: app
--

COPY events.event_outbox (id, aggregate_type, aggregate_id, event_type, routing_key, payload, status, retry_count, available_at, published_at, error_message, created_at) FROM stdin;
\.


--
-- Data for Name: _sqlx_migrations; Type: TABLE DATA; Schema: forum; Owner: app
--



--
-- Data for Name: lajukan_forum_audit_logs; Type: TABLE DATA; Schema: forum; Owner: app
--



--
-- Data for Name: lajukan_forum_categories; Type: TABLE DATA; Schema: forum; Owner: app
--



--
-- Data for Name: lajukan_forum_posts; Type: TABLE DATA; Schema: forum; Owner: app
--



--
-- Data for Name: lajukan_forum_tags; Type: TABLE DATA; Schema: forum; Owner: app
--

COPY forum.lajukan_forum_tags (id, name, slug, description, color, usage_count) FROM stdin;
\.


--
-- Data for Name: lajukan_forum_thread_tags; Type: TABLE DATA; Schema: forum; Owner: app
--

COPY forum.lajukan_forum_thread_tags (thread_id, tag_slug, "position") FROM stdin;
\.


--
-- Data for Name: lajukan_forum_threads; Type: TABLE DATA; Schema: forum; Owner: app
--

COPY forum.lajukan_forum_threads (id, title, slug, category_id, author_id, created_at, last_activity_at, views, reply_count, like_count, bookmark_count, is_pinned, is_locked, is_solved, solution_post_id, status, image_urls, group_id) FROM stdin;
th-1781802124321-38c75de8	Jasa Membuat Website	jasa-membuat-website	c-fyp	auth-1747f31a-2972-4506-b997-1c03eb38aa6e	2026-06-18 17:02:04.322467+00	2026-06-19 12:04:20.626385+00	6	2	0	0	f	f	f	\N	open	{/api/forum/media/forum-1781802087252-f23fa48e-1000034101.png}	\N
\.


--
-- Data for Name: lajukan_forum_users; Type: TABLE DATA; Schema: forum; Owner: app
--



--
-- Data for Name: lajukan_forum_votes; Type: TABLE DATA; Schema: forum; Owner: app
--

COPY forum.lajukan_forum_votes (id, target_type, target_id, user_id, value, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: lajukan_group_members; Type: TABLE DATA; Schema: forum; Owner: app
--

COPY forum.lajukan_group_members (group_id, user_id, role, status, notifications_enabled, joined_at, updated_at) FROM stdin;
g-1781808608790-3292548e	auth-3af4e0fd-ec84-4177-9b50-b43dd6d9c9b5	owner	active	t	2026-06-18 18:50:08.793686+00	2026-06-18 18:50:08.793686+00
\.


--
-- Data for Name: lajukan_groups; Type: TABLE DATA; Schema: forum; Owner: app
--



--
-- Data for Name: lajukan_reel_events; Type: TABLE DATA; Schema: forum; Owner: app
--



--
-- Data for Name: lajukan_reel_user_actions; Type: TABLE DATA; Schema: forum; Owner: app
--

COPY forum.lajukan_reel_user_actions (id, reel_id, actor_user_id, target_user_id, action, created_at, updated_at) FROM stdin;
ra-1781813401460-f75dcefa	reel-1781813353455-21328074	auth-3af4e0fd-ec84-4177-9b50-b43dd6d9c9b5	\N	like	2026-06-18 20:10:01.460222+00	2026-06-18 20:10:01.460222+00
ra-1781827342052-480fa724	reel-1781813353455-21328074	auth-1747f31a-2972-4506-b997-1c03eb38aa6e	\N	like	2026-06-19 00:02:22.051966+00	2026-06-19 00:02:22.051966+00
\.


--
-- Data for Name: lajukan_reel_comments; Type: TABLE DATA; Schema: reel; Owner: app
--



--
-- Data for Name: lajukan_reels; Type: TABLE DATA; Schema: reel; Owner: app
--



--
-- Name: event_inbox event_inbox_pkey; Type: CONSTRAINT; Schema: events; Owner: app
--

ALTER TABLE ONLY events.event_inbox
    ADD CONSTRAINT event_inbox_pkey PRIMARY KEY (id);


--
-- Name: event_inbox event_inbox_source_event_id_key; Type: CONSTRAINT; Schema: events; Owner: app
--

ALTER TABLE ONLY events.event_inbox
    ADD CONSTRAINT event_inbox_source_event_id_key UNIQUE (source, event_id);


--
-- Name: event_outbox event_outbox_pkey; Type: CONSTRAINT; Schema: events; Owner: app
--

ALTER TABLE ONLY events.event_outbox
    ADD CONSTRAINT event_outbox_pkey PRIMARY KEY (id);


--
-- Name: _sqlx_migrations _sqlx_migrations_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum._sqlx_migrations
    ADD CONSTRAINT _sqlx_migrations_pkey PRIMARY KEY (version);


--
-- Name: lajukan_forum_audit_logs lajukan_forum_audit_logs_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_audit_logs
    ADD CONSTRAINT lajukan_forum_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: lajukan_forum_categories lajukan_forum_categories_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_categories
    ADD CONSTRAINT lajukan_forum_categories_pkey PRIMARY KEY (id);


--
-- Name: lajukan_forum_categories lajukan_forum_categories_slug_key; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_categories
    ADD CONSTRAINT lajukan_forum_categories_slug_key UNIQUE (slug);


--
-- Name: lajukan_forum_posts lajukan_forum_posts_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_posts
    ADD CONSTRAINT lajukan_forum_posts_pkey PRIMARY KEY (id);


--
-- Name: lajukan_forum_tags lajukan_forum_tags_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_tags
    ADD CONSTRAINT lajukan_forum_tags_pkey PRIMARY KEY (id);


--
-- Name: lajukan_forum_tags lajukan_forum_tags_slug_key; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_tags
    ADD CONSTRAINT lajukan_forum_tags_slug_key UNIQUE (slug);


--
-- Name: lajukan_forum_thread_tags lajukan_forum_thread_tags_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_thread_tags
    ADD CONSTRAINT lajukan_forum_thread_tags_pkey PRIMARY KEY (thread_id, tag_slug);


--
-- Name: lajukan_forum_threads lajukan_forum_threads_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_threads
    ADD CONSTRAINT lajukan_forum_threads_pkey PRIMARY KEY (id);


--
-- Name: lajukan_forum_users lajukan_forum_users_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_users
    ADD CONSTRAINT lajukan_forum_users_pkey PRIMARY KEY (id);


--
-- Name: lajukan_forum_users lajukan_forum_users_username_key; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_users
    ADD CONSTRAINT lajukan_forum_users_username_key UNIQUE (username);


--
-- Name: lajukan_forum_votes lajukan_forum_votes_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_votes
    ADD CONSTRAINT lajukan_forum_votes_pkey PRIMARY KEY (id);


--
-- Name: lajukan_forum_votes lajukan_forum_votes_target_type_target_id_user_id_key; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_votes
    ADD CONSTRAINT lajukan_forum_votes_target_type_target_id_user_id_key UNIQUE (target_type, target_id, user_id);


--
-- Name: lajukan_group_members lajukan_group_members_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_group_members
    ADD CONSTRAINT lajukan_group_members_pkey PRIMARY KEY (group_id, user_id);


--
-- Name: lajukan_groups lajukan_groups_category_id_key; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_groups
    ADD CONSTRAINT lajukan_groups_category_id_key UNIQUE (category_id);


--
-- Name: lajukan_groups lajukan_groups_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_groups
    ADD CONSTRAINT lajukan_groups_pkey PRIMARY KEY (id);


--
-- Name: lajukan_groups lajukan_groups_slug_key; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_groups
    ADD CONSTRAINT lajukan_groups_slug_key UNIQUE (slug);


--
-- Name: lajukan_reel_events lajukan_reel_events_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_reel_events
    ADD CONSTRAINT lajukan_reel_events_pkey PRIMARY KEY (id);


--
-- Name: lajukan_reel_user_actions lajukan_reel_user_actions_pkey; Type: CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_reel_user_actions
    ADD CONSTRAINT lajukan_reel_user_actions_pkey PRIMARY KEY (id);


--
-- Name: lajukan_reel_comments lajukan_reel_comments_pkey; Type: CONSTRAINT; Schema: reel; Owner: app
--

ALTER TABLE ONLY reel.lajukan_reel_comments
    ADD CONSTRAINT lajukan_reel_comments_pkey PRIMARY KEY (id);


--
-- Name: lajukan_reels lajukan_reels_pkey; Type: CONSTRAINT; Schema: reel; Owner: app
--

ALTER TABLE ONLY reel.lajukan_reels
    ADD CONSTRAINT lajukan_reels_pkey PRIMARY KEY (id);


--
-- Name: idx_community_event_inbox_pending; Type: INDEX; Schema: events; Owner: app
--

CREATE INDEX idx_community_event_inbox_pending ON events.event_inbox USING btree (status, available_at, received_at) WHERE (status = ANY (ARRAY['pending'::text, 'failed'::text]));


--
-- Name: idx_community_event_outbox_pending; Type: INDEX; Schema: events; Owner: app
--

CREATE INDEX idx_community_event_outbox_pending ON events.event_outbox USING btree (status, available_at, created_at) WHERE (status = ANY (ARRAY['pending'::text, 'failed'::text]));


--
-- Name: lajukan_forum_audit_logs_target_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_audit_logs_target_idx ON forum.lajukan_forum_audit_logs USING btree (target_type, target_id, created_at DESC);


--
-- Name: lajukan_forum_categories_position_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_categories_position_idx ON forum.lajukan_forum_categories USING btree ("position", name);


--
-- Name: lajukan_forum_posts_parent_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_posts_parent_idx ON forum.lajukan_forum_posts USING btree (reply_to_post_id);


--
-- Name: lajukan_forum_posts_search_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_posts_search_idx ON forum.lajukan_forum_posts USING gin (to_tsvector('simple'::regconfig, COALESCE(content, ''::text)));


--
-- Name: lajukan_forum_posts_thread_created_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_posts_thread_created_idx ON forum.lajukan_forum_posts USING btree (thread_id, created_at);


--
-- Name: lajukan_forum_tags_usage_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_tags_usage_idx ON forum.lajukan_forum_tags USING btree (usage_count DESC, name);


--
-- Name: lajukan_forum_thread_tags_tag_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_thread_tags_tag_idx ON forum.lajukan_forum_thread_tags USING btree (tag_slug, thread_id);


--
-- Name: lajukan_forum_threads_category_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_threads_category_idx ON forum.lajukan_forum_threads USING btree (category_id, last_activity_at DESC);


--
-- Name: lajukan_forum_threads_feed_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_threads_feed_idx ON forum.lajukan_forum_threads USING btree (last_activity_at DESC, created_at DESC);


--
-- Name: lajukan_forum_threads_group_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_threads_group_idx ON forum.lajukan_forum_threads USING btree (group_id, last_activity_at DESC);


--
-- Name: lajukan_forum_threads_search_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_threads_search_idx ON forum.lajukan_forum_threads USING gin (to_tsvector('simple'::regconfig, ((COALESCE(title, ''::text) || ' '::text) || COALESCE(slug, ''::text))));


--
-- Name: lajukan_forum_users_reputation_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_users_reputation_idx ON forum.lajukan_forum_users USING btree (reputation DESC, updated_at DESC);


--
-- Name: lajukan_forum_users_search_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_users_search_idx ON forum.lajukan_forum_users USING gin (to_tsvector('simple'::regconfig, ((((COALESCE(username, ''::text) || ' '::text) || COALESCE(name, ''::text)) || ' '::text) || COALESCE(title, ''::text))));


--
-- Name: lajukan_forum_votes_target_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_forum_votes_target_idx ON forum.lajukan_forum_votes USING btree (target_type, target_id);


--
-- Name: lajukan_group_members_user_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_group_members_user_idx ON forum.lajukan_group_members USING btree (user_id, status, updated_at DESC);


--
-- Name: lajukan_groups_discovery_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_groups_discovery_idx ON forum.lajukan_groups USING btree (status, privacy, updated_at DESC);


--
-- Name: lajukan_groups_search_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_groups_search_idx ON forum.lajukan_groups USING gin (to_tsvector('simple'::regconfig, ((((COALESCE(name, ''::text) || ' '::text) || COALESCE(description, ''::text)) || ' '::text) || COALESCE(slug, ''::text))));


--
-- Name: lajukan_reel_events_actor_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_reel_events_actor_idx ON forum.lajukan_reel_events USING btree (actor_user_id, created_at DESC);


--
-- Name: lajukan_reel_events_reel_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_reel_events_reel_idx ON forum.lajukan_reel_events USING btree (reel_id, event_type, created_at DESC);


--
-- Name: lajukan_reel_user_actions_actor_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE INDEX lajukan_reel_user_actions_actor_idx ON forum.lajukan_reel_user_actions USING btree (actor_user_id, action, updated_at DESC);


--
-- Name: lajukan_reel_user_actions_unique_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE UNIQUE INDEX lajukan_reel_user_actions_unique_idx ON forum.lajukan_reel_user_actions USING btree (reel_id, actor_user_id, action);


--
-- Name: lajukan_reel_user_follows_unique_idx; Type: INDEX; Schema: forum; Owner: app
--

CREATE UNIQUE INDEX lajukan_reel_user_follows_unique_idx ON forum.lajukan_reel_user_actions USING btree (actor_user_id, target_user_id, action) WHERE ((action = 'follow'::text) AND (target_user_id IS NOT NULL));


--
-- Name: lajukan_reel_comments_author_idx; Type: INDEX; Schema: reel; Owner: app
--

CREATE INDEX lajukan_reel_comments_author_idx ON reel.lajukan_reel_comments USING btree (author_user_id, created_at DESC);


--
-- Name: lajukan_reel_comments_body_search_idx; Type: INDEX; Schema: reel; Owner: app
--

CREATE INDEX lajukan_reel_comments_body_search_idx ON reel.lajukan_reel_comments USING gin (to_tsvector('simple'::regconfig, COALESCE(body, ''::text)));


--
-- Name: lajukan_reel_comments_parent_idx; Type: INDEX; Schema: reel; Owner: app
--

CREATE INDEX lajukan_reel_comments_parent_idx ON reel.lajukan_reel_comments USING btree (reel_id, parent_comment_id, status, created_at, id);


--
-- Name: lajukan_reel_comments_reel_idx; Type: INDEX; Schema: reel; Owner: app
--

CREATE INDEX lajukan_reel_comments_reel_idx ON reel.lajukan_reel_comments USING btree (reel_id, status, created_at DESC, id DESC);


--
-- Name: lajukan_reels_feed_idx; Type: INDEX; Schema: reel; Owner: app
--

CREATE INDEX lajukan_reels_feed_idx ON reel.lajukan_reels USING btree (status, published_at DESC, id);


--
-- Name: lajukan_reels_search_idx; Type: INDEX; Schema: reel; Owner: app
--

CREATE INDEX lajukan_reels_search_idx ON reel.lajukan_reels USING gin (to_tsvector('simple'::regconfig, ((((((((((((COALESCE(title, ''::text) || ' '::text) || COALESCE(caption, ''::text)) || ' '::text) || COALESCE(creator, ''::text)) || ' '::text) || COALESCE(tag, ''::text)) || ' '::text) || COALESCE(product_name, ''::text)) || ' '::text) || COALESCE(store_name, ''::text)) || ' '::text) || COALESCE(store_city, ''::text))));


--
-- Name: lajukan_reels_store_idx; Type: INDEX; Schema: reel; Owner: app
--

CREATE INDEX lajukan_reels_store_idx ON reel.lajukan_reels USING btree (store_slug, store_city, status);


--
-- Name: lajukan_forum_posts lajukan_forum_posts_author_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_posts
    ADD CONSTRAINT lajukan_forum_posts_author_id_fkey FOREIGN KEY (author_id) REFERENCES forum.lajukan_forum_users(id);


--
-- Name: lajukan_forum_posts lajukan_forum_posts_thread_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_posts
    ADD CONSTRAINT lajukan_forum_posts_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES forum.lajukan_forum_threads(id) ON DELETE CASCADE;


--
-- Name: lajukan_forum_thread_tags lajukan_forum_thread_tags_tag_slug_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_thread_tags
    ADD CONSTRAINT lajukan_forum_thread_tags_tag_slug_fkey FOREIGN KEY (tag_slug) REFERENCES forum.lajukan_forum_tags(slug) ON DELETE CASCADE;


--
-- Name: lajukan_forum_thread_tags lajukan_forum_thread_tags_thread_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_thread_tags
    ADD CONSTRAINT lajukan_forum_thread_tags_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES forum.lajukan_forum_threads(id) ON DELETE CASCADE;


--
-- Name: lajukan_forum_threads lajukan_forum_threads_author_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_threads
    ADD CONSTRAINT lajukan_forum_threads_author_id_fkey FOREIGN KEY (author_id) REFERENCES forum.lajukan_forum_users(id);


--
-- Name: lajukan_forum_threads lajukan_forum_threads_category_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_threads
    ADD CONSTRAINT lajukan_forum_threads_category_id_fkey FOREIGN KEY (category_id) REFERENCES forum.lajukan_forum_categories(id);


--
-- Name: lajukan_forum_threads lajukan_forum_threads_group_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_threads
    ADD CONSTRAINT lajukan_forum_threads_group_id_fkey FOREIGN KEY (group_id) REFERENCES forum.lajukan_groups(id) ON DELETE SET NULL;


--
-- Name: lajukan_forum_votes lajukan_forum_votes_user_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_forum_votes
    ADD CONSTRAINT lajukan_forum_votes_user_id_fkey FOREIGN KEY (user_id) REFERENCES forum.lajukan_forum_users(id) ON DELETE CASCADE;


--
-- Name: lajukan_group_members lajukan_group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_group_members
    ADD CONSTRAINT lajukan_group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES forum.lajukan_groups(id) ON DELETE CASCADE;


--
-- Name: lajukan_group_members lajukan_group_members_user_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_group_members
    ADD CONSTRAINT lajukan_group_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES forum.lajukan_forum_users(id) ON DELETE CASCADE;


--
-- Name: lajukan_groups lajukan_groups_category_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_groups
    ADD CONSTRAINT lajukan_groups_category_id_fkey FOREIGN KEY (category_id) REFERENCES forum.lajukan_forum_categories(id) ON DELETE CASCADE;


--
-- Name: lajukan_groups lajukan_groups_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_groups
    ADD CONSTRAINT lajukan_groups_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES forum.lajukan_forum_users(id) ON DELETE SET NULL;


--
-- Name: lajukan_reel_events lajukan_reel_events_reel_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_reel_events
    ADD CONSTRAINT lajukan_reel_events_reel_id_fkey FOREIGN KEY (reel_id) REFERENCES reel.lajukan_reels(id) ON DELETE CASCADE;


--
-- Name: lajukan_reel_user_actions lajukan_reel_user_actions_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_reel_user_actions
    ADD CONSTRAINT lajukan_reel_user_actions_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES forum.lajukan_forum_users(id) ON DELETE CASCADE;


--
-- Name: lajukan_reel_user_actions lajukan_reel_user_actions_reel_id_fkey; Type: FK CONSTRAINT; Schema: forum; Owner: app
--

ALTER TABLE ONLY forum.lajukan_reel_user_actions
    ADD CONSTRAINT lajukan_reel_user_actions_reel_id_fkey FOREIGN KEY (reel_id) REFERENCES reel.lajukan_reels(id) ON DELETE CASCADE;


--
-- Name: lajukan_reel_comments lajukan_reel_comments_author_user_id_fkey; Type: FK CONSTRAINT; Schema: reel; Owner: app
--

ALTER TABLE ONLY reel.lajukan_reel_comments
    ADD CONSTRAINT lajukan_reel_comments_author_user_id_fkey FOREIGN KEY (author_user_id) REFERENCES forum.lajukan_forum_users(id) ON DELETE CASCADE;


--
-- Name: lajukan_reel_comments lajukan_reel_comments_parent_comment_id_fkey; Type: FK CONSTRAINT; Schema: reel; Owner: app
--

ALTER TABLE ONLY reel.lajukan_reel_comments
    ADD CONSTRAINT lajukan_reel_comments_parent_comment_id_fkey FOREIGN KEY (parent_comment_id) REFERENCES reel.lajukan_reel_comments(id) ON DELETE CASCADE;


--
-- Name: lajukan_reel_comments lajukan_reel_comments_reel_id_fkey; Type: FK CONSTRAINT; Schema: reel; Owner: app
--

ALTER TABLE ONLY reel.lajukan_reel_comments
    ADD CONSTRAINT lajukan_reel_comments_reel_id_fkey FOREIGN KEY (reel_id) REFERENCES reel.lajukan_reels(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict X7DRhvzExAbDMkhG9f5GHGZT1hhpQyJqTpwlcA8DpgZZ4qVElNKaepmE2vC123d

