--
-- PostgreSQL database dump
--

\restrict szYeYbjnXPEuye0aJaJPVVohbgUC1LMO81bYfekFsKvCZHlAEHlBMBEUBWTn75X

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: audit; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA audit;


ALTER SCHEMA audit OWNER TO app;

--
-- Name: core; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA core;


ALTER SCHEMA core OWNER TO app;

--
-- Name: events; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA events;


ALTER SCHEMA events OWNER TO app;

--
-- Name: identity; Type: SCHEMA; Schema: -; Owner: app
--

CREATE SCHEMA identity;


ALTER SCHEMA identity OWNER TO app;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: user_status; Type: TYPE; Schema: core; Owner: app
--

CREATE TYPE core.user_status AS ENUM (
    'active',
    'disabled',
    'banned',
    'pending'
);


ALTER TYPE core.user_status OWNER TO app;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: user_profiles; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.user_profiles (
    user_id uuid NOT NULL,
    full_name text,
    bio text,
    picture text,
    username public.citext,
    birthdate date,
    location text,
    search_tsv tsvector GENERATED ALWAYS AS (to_tsvector('simple'::regconfig, ((COALESCE(full_name, ''::text) || ' '::text) || COALESCE(bio, ''::text)))) STORED,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    metadata jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE core.user_profiles OWNER TO app;

--
-- Name: get_hourly_rate(core.user_profiles); Type: FUNCTION; Schema: core; Owner: app
--

CREATE FUNCTION core.get_hourly_rate(profile core.user_profiles) RETURNS integer
    LANGUAGE sql IMMUTABLE
    AS $$

SELECT COALESCE(

    (

      profile.metadata->'freelancer_profile'->>'hourly_rate'

    )::integer,

    0

  );

$$;


ALTER FUNCTION core.get_hourly_rate(profile core.user_profiles) OWNER TO app;

--
-- Name: is_freelancer(core.user_profiles); Type: FUNCTION; Schema: core; Owner: app
--

CREATE FUNCTION core.is_freelancer(profile core.user_profiles) RETURNS boolean
    LANGUAGE sql IMMUTABLE
    AS $$

SELECT profile.metadata->'roles' ? 'freelancer';

$$;


ALTER FUNCTION core.is_freelancer(profile core.user_profiles) OWNER TO app;

--
-- Name: audit_row_changes(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.audit_row_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE actor uuid;

payload jsonb;

target_user uuid;

BEGIN BEGIN actor := current_setting('app.current_user_id', true)::uuid;

EXCEPTION

WHEN others THEN actor := NULL;

END;

IF TG_OP = 'DELETE' THEN payload := jsonb_build_object('old', to_jsonb(OLD));

ELSIF TG_OP = 'UPDATE' THEN payload := jsonb_build_object('old', to_jsonb(OLD), 'new', to_jsonb(NEW));

ELSE payload := jsonb_build_object('new', to_jsonb(NEW));

END IF;

-- SAFE EXTRACT (tidak crash walaupun field tidak ada)

BEGIN target_user := COALESCE(

    (to_jsonb(NEW)->>'id')::uuid,

    (to_jsonb(OLD)->>'id')::uuid,

    (to_jsonb(NEW)->>'user_id')::uuid,

    (to_jsonb(OLD)->>'user_id')::uuid

);

EXCEPTION

WHEN others THEN target_user := NULL;

END;

INSERT INTO events.audit_logs (

        actor_id,

        user_id,

        entity,

        action,

        metadata,

        created_at

    )

VALUES (

        actor,

        target_user,

        TG_TABLE_NAME,

        TG_OP,

        payload,

        NOW()

    );

RETURN COALESCE(NEW, OLD);

END;

$$;


ALTER FUNCTION public.audit_row_changes() OWNER TO app;

--
-- Name: enqueue_identity_user_event(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.enqueue_identity_user_event() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
  event_payload jsonb;
  aggregate_id text;
  action_name text;
BEGIN
  IF TG_OP = 'DELETE' THEN
    event_payload := to_jsonb(OLD);
    IF TG_TABLE_NAME = 'user_profiles' THEN
      aggregate_id := OLD.user_id::text;
    ELSE
      aggregate_id := OLD.id::text;
    END IF;
  ELSE
    event_payload := to_jsonb(NEW);
    IF TG_TABLE_NAME = 'user_profiles' THEN
      aggregate_id := NEW.user_id::text;
    ELSE
      aggregate_id := NEW.id::text;
    END IF;
  END IF;

  action_name := CASE TG_OP
    WHEN 'INSERT' THEN 'created'
    WHEN 'UPDATE' THEN 'updated'
    WHEN 'DELETE' THEN 'deleted'
    ELSE lower(TG_OP)
  END;

  INSERT INTO events.event_outbox (
    aggregate_type,
    aggregate_id,
    event_type,
    routing_key,
    payload,
    headers
  )
  VALUES (
    'identity.user',
    aggregate_id,
    CASE
      WHEN TG_TABLE_NAME = 'user_profiles' THEN 'identity.user_profile.' || action_name
      ELSE 'identity.user.' || action_name
    END,
    'identity.user.' || action_name,
    jsonb_build_object(
      'schema_version', 1,
      'source', 'identity_service',
      'table', TG_TABLE_SCHEMA || '.' || TG_TABLE_NAME,
      'operation', TG_OP,
      'user_id', aggregate_id,
      'data', event_payload
    ),
    jsonb_build_object('content_type', 'application/json')
  );

  IF TG_OP = 'DELETE' THEN
    RETURN OLD;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.enqueue_identity_user_event() OWNER TO app;

--
-- Name: is_system_admin(uuid); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.is_system_admin(uid uuid) RETURNS boolean
    LANGUAGE sql STABLE
    AS $$

SELECT EXISTS (

        SELECT 1

        FROM core.user_roles ur

            JOIN roles r ON r.id = ur.role_id

        WHERE ur.user_id = uid

            AND lower(r.name) = 'super_admin'

    );

$$;


ALTER FUNCTION public.is_system_admin(uid uuid) OWNER TO app;

--
-- Name: normalize_org_slug(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.normalize_org_slug() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN IF NEW.slug IS NULL THEN NEW.slug := public.slugify(NEW.name);

END IF;

RETURN NEW;

END;

$$;


ALTER FUNCTION public.normalize_org_slug() OWNER TO app;

--
-- Name: normalize_username(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.normalize_username() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN IF NEW.username IS NOT NULL THEN NEW.username = lower(trim(NEW.username));

END IF;

RETURN NEW;

END;

$$;


ALTER FUNCTION public.normalize_username() OWNER TO app;

--
-- Name: org_owner_is_member(uuid, uuid); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.org_owner_is_member(org_id uuid, owner_user_id uuid) RETURNS boolean
    LANGUAGE sql STABLE
    AS $$

SELECT EXISTS (

        SELECT 1

        FROM organization_users ou

        WHERE ou.org_id = org_id

            AND ou.user_id = owner_user_id

    );

$$;


ALTER FUNCTION public.org_owner_is_member(org_id uuid, owner_user_id uuid) OWNER TO app;

--
-- Name: prevent_delete_system_roles(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.prevent_delete_system_roles() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN IF OLD.system = TRUE THEN RAISE EXCEPTION 'Cannot delete system-protected role.';

END IF;

RETURN OLD;

END;

$$;


ALTER FUNCTION public.prevent_delete_system_roles() OWNER TO app;

--
-- Name: prevent_remove_last_org_admin(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.prevent_remove_last_org_admin() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE admin_count INT;

org uuid;

role_uuid uuid;

BEGIN IF TG_OP = 'DELETE' THEN org := OLD.org_id;

-- find role id for 'org_admin' (if missing, skip)

SELECT id INTO role_uuid

FROM roles

WHERE lower(name) = 'org_admin'

LIMIT 1;

IF role_uuid IS NULL THEN RETURN OLD;

END IF;

-- Check how many admins are left for this organization

SELECT COUNT(*) INTO admin_count

FROM organization_users

WHERE org_id = org

    AND role_id = role_uuid;

-- if deleting an admin row and it is the last one, prevent

IF OLD.role_id = role_uuid

AND admin_count <= 1 THEN RAISE EXCEPTION 'Cannot remove last org_admin from organization %',

org;

END IF;

END IF;

RETURN OLD;

END;

$$;


ALTER FUNCTION public.prevent_remove_last_org_admin() OWNER TO app;

--
-- Name: reset_login_attempts_on_password_change(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.reset_login_attempts_on_password_change() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN IF NEW.password_hash IS DISTINCT

FROM OLD.password_hash THEN NEW.failed_login_attempts = 0;

NEW.lockout_expires_at = NULL;

END IF;

RETURN NEW;

END;

$$;


ALTER FUNCTION public.reset_login_attempts_on_password_change() OWNER TO app;

--
-- Name: slugify(text); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.slugify(value text) RETURNS text
    LANGUAGE sql IMMUTABLE STRICT
    AS $$

SELECT regexp_replace(

        lower(value),

        '[^a-z0-9\.]+',

        '-',

        'g'

    );

$$;


ALTER FUNCTION public.slugify(value text) OWNER TO app;

--
-- Name: track_updated_by(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.track_updated_by() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ BEGIN BEGIN NEW.updated_by := current_setting('app.current_user_id', true)::uuid;

EXCEPTION

WHEN others THEN NEW.updated_by := NULL;

END;

RETURN NEW;

END;

$$;


ALTER FUNCTION public.track_updated_by() OWNER TO app;

--
-- Name: update_timestamp(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.update_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
        BEGIN
            NEW.updated_at = NOW();
            RETURN NEW;
        END;
        $$;


ALTER FUNCTION public.update_timestamp() OWNER TO app;

--
-- Name: _sqlx_migrations; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core._sqlx_migrations (
    version bigint NOT NULL,
    description text NOT NULL,
    installed_on timestamp with time zone DEFAULT now() NOT NULL,
    success boolean NOT NULL,
    checksum bytea NOT NULL,
    execution_time bigint NOT NULL
);


ALTER TABLE core._sqlx_migrations OWNER TO app;

--
-- Name: group_roles; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.group_roles (
    group_id uuid NOT NULL,
    role_id uuid NOT NULL
);


ALTER TABLE core.group_roles OWNER TO app;

--
-- Name: group_users; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.group_users (
    group_id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.group_users OWNER TO app;

--
-- Name: groups; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.groups (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    org_id uuid,
    name public.citext NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.groups OWNER TO app;

--
-- Name: organization_users; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.organization_users (
    org_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role_id uuid,
    status text DEFAULT 'active'::text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.organization_users OWNER TO app;

--
-- Name: organizations; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.organizations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name public.citext NOT NULL,
    slug public.citext,
    owner_user_id uuid,
    deleted_at timestamp with time zone,
    updated_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT owner_is_member CHECK (((owner_user_id IS NULL) OR public.org_owner_is_member(id, owner_user_id)))
);


ALTER TABLE core.organizations OWNER TO app;

--
-- Name: permissions; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name public.citext NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.permissions OWNER TO app;

--
-- Name: role_permissions; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL
);


ALTER TABLE core.role_permissions OWNER TO app;

--
-- Name: roles; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name public.citext NOT NULL,
    description text,
    system boolean DEFAULT false,
    role_type text DEFAULT 'global'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.roles OWNER TO app;

--
-- Name: sessions; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.sessions (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    refresh_token_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    rotated_from uuid,
    revoked boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.sessions OWNER TO app;

--
-- Name: user_identities; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.user_identities (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    provider text NOT NULL,
    provider_user_id text NOT NULL,
    email public.citext,
    email_verified boolean DEFAULT false NOT NULL,
    raw_profile jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone,
    CONSTRAINT user_identities_provider_check CHECK ((provider <> ''::text)),
    CONSTRAINT user_identities_provider_user_id_check CHECK ((provider_user_id <> ''::text))
);


ALTER TABLE core.user_identities OWNER TO app;

--
-- Name: user_roles; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.user_roles (
    user_id uuid NOT NULL,
    role_id uuid NOT NULL
);


ALTER TABLE core.user_roles OWNER TO app;

--
-- Name: users; Type: TABLE; Schema: core; Owner: app
--

CREATE TABLE core.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email public.citext,
    email_verified boolean DEFAULT false,
    password_hash text,
    password_changed_at timestamp with time zone DEFAULT now(),
    phone text,
    phone_verified boolean DEFAULT false,
    status core.user_status DEFAULT 'active'::core.user_status,
    is_active boolean DEFAULT true,
    failed_login_attempts smallint DEFAULT 0,
    lockout_expires_at timestamp with time zone,
    last_login_at timestamp with time zone,
    deleted_at timestamp with time zone,
    public_key_jwks jsonb,
    actor_id uuid,
    updated_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT users_email_format CHECK (((email IS NULL) OR (email OPERATOR(public.~*) '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::public.citext))),
    CONSTRAINT users_is_active_check CHECK ((is_active = (status = 'active'::core.user_status))),
    CONSTRAINT users_phone_format CHECK (((phone IS NULL) OR (regexp_replace(phone, '[^0-9]'::text, ''::text, 'g'::text) ~ '^[0-9]{8,15}$'::text)))
);


ALTER TABLE core.users OWNER TO app;

--
-- Name: audit_logs; Type: TABLE; Schema: events; Owner: app
--

CREATE TABLE events.audit_logs (
    id bigint NOT NULL,
    actor_id uuid,
    user_id uuid,
    entity text NOT NULL,
    action text NOT NULL,
    metadata jsonb,
    ip_address text,
    user_agent text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE events.audit_logs OWNER TO app;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: events; Owner: app
--

CREATE SEQUENCE events.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE events.audit_logs_id_seq OWNER TO app;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: events; Owner: app
--

ALTER SEQUENCE events.audit_logs_id_seq OWNED BY events.audit_logs.id;


--
-- Name: event_outbox; Type: TABLE; Schema: events; Owner: app
--

CREATE TABLE events.event_outbox (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    aggregate_type text NOT NULL,
    aggregate_id text NOT NULL,
    event_type text NOT NULL,
    routing_key text NOT NULL,
    payload jsonb NOT NULL,
    headers jsonb DEFAULT '{}'::jsonb NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    retry_count integer DEFAULT 0 NOT NULL,
    available_at timestamp with time zone DEFAULT now() NOT NULL,
    published_at timestamp with time zone,
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT event_outbox_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'publishing'::text, 'published'::text, 'failed'::text])))
);


ALTER TABLE events.event_outbox OWNER TO app;

--
-- Name: _sqlx_migrations; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public._sqlx_migrations (
    version bigint NOT NULL,
    description text NOT NULL,
    installed_on timestamp with time zone DEFAULT now() NOT NULL,
    success boolean NOT NULL,
    checksum bytea NOT NULL,
    execution_time bigint NOT NULL
);


ALTER TABLE public._sqlx_migrations OWNER TO app;

--
-- Name: audit_logs id; Type: DEFAULT; Schema: events; Owner: app
--

ALTER TABLE ONLY events.audit_logs ALTER COLUMN id SET DEFAULT nextval('events.audit_logs_id_seq'::regclass);


--
-- Data for Name: _sqlx_migrations; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: group_roles; Type: TABLE DATA; Schema: core; Owner: app
--

COPY core.group_roles (group_id, role_id) FROM stdin;
\.


--
-- Data for Name: group_users; Type: TABLE DATA; Schema: core; Owner: app
--

COPY core.group_users (group_id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: groups; Type: TABLE DATA; Schema: core; Owner: app
--

COPY core.groups (id, org_id, name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: organization_users; Type: TABLE DATA; Schema: core; Owner: app
--

COPY core.organization_users (org_id, user_id, role_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: core; Owner: app
--

COPY core.organizations (id, name, slug, owner_user_id, deleted_at, updated_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: user_identities; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: core; Owner: app
--

COPY core.user_roles (user_id, role_id) FROM stdin;
3af4e0fd-ec84-4177-9b50-b43dd6d9c9b5	879dde1a-22d4-4843-b307-26a34e6ddb7d
1747f31a-2972-4506-b997-1c03eb38aa6e	879dde1a-22d4-4843-b307-26a34e6ddb7d
c3620d3b-4fc3-4eb7-babd-ecfdafb212c9	879dde1a-22d4-4843-b307-26a34e6ddb7d
c8a11d02-d8bf-40b8-b54e-92909c3df8fd	879dde1a-22d4-4843-b307-26a34e6ddb7d
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: core; Owner: app
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: events; Owner: app
--



--
-- Data for Name: event_outbox; Type: TABLE DATA; Schema: events; Owner: app
--



--
-- Data for Name: _sqlx_migrations; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: events; Owner: app
--

SELECT pg_catalog.setval('events.audit_logs_id_seq', 297, true);


--
-- Name: _sqlx_migrations _sqlx_migrations_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core._sqlx_migrations
    ADD CONSTRAINT _sqlx_migrations_pkey PRIMARY KEY (version);


--
-- Name: group_roles group_roles_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.group_roles
    ADD CONSTRAINT group_roles_pkey PRIMARY KEY (group_id, role_id);


--
-- Name: group_users group_users_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.group_users
    ADD CONSTRAINT group_users_pkey PRIMARY KEY (group_id, user_id);


--
-- Name: groups groups_org_id_name_key; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.groups
    ADD CONSTRAINT groups_org_id_name_key UNIQUE (org_id, name);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: organization_users organization_users_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organization_users
    ADD CONSTRAINT organization_users_pkey PRIMARY KEY (org_id, user_id);


--
-- Name: organizations organizations_name_key; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organizations
    ADD CONSTRAINT organizations_name_key UNIQUE (name);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_slug_key; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organizations
    ADD CONSTRAINT organizations_slug_key UNIQUE (slug);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: user_identities user_identities_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_identities
    ADD CONSTRAINT user_identities_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: user_profiles user_profiles_username_key; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_profiles
    ADD CONSTRAINT user_profiles_username_key UNIQUE (username);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: events; Owner: app
--

ALTER TABLE ONLY events.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: event_outbox event_outbox_pkey; Type: CONSTRAINT; Schema: events; Owner: app
--

ALTER TABLE ONLY events.event_outbox
    ADD CONSTRAINT event_outbox_pkey PRIMARY KEY (id);


--
-- Name: _sqlx_migrations _sqlx_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public._sqlx_migrations
    ADD CONSTRAINT _sqlx_migrations_pkey PRIMARY KEY (version);


--
-- Name: idx_group_org; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_group_org ON core.groups USING btree (org_id);


--
-- Name: idx_group_roles_group; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_group_roles_group ON core.group_roles USING btree (group_id);


--
-- Name: idx_group_users_group; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_group_users_group ON core.group_users USING btree (group_id);


--
-- Name: idx_group_users_user; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_group_users_user ON core.group_users USING btree (user_id);


--
-- Name: idx_org_deleted; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_org_deleted ON core.organizations USING btree (deleted_at);


--
-- Name: idx_org_slug; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_org_slug ON core.organizations USING btree (slug);


--
-- Name: idx_org_users_org; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_org_users_org ON core.organization_users USING btree (org_id);


--
-- Name: idx_org_users_user; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_org_users_user ON core.organization_users USING btree (user_id);


--
-- Name: idx_permission_name; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_permission_name ON core.permissions USING btree (name);


--
-- Name: idx_profiles_tsv; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_profiles_tsv ON core.user_profiles USING gin (search_tsv);


--
-- Name: idx_profiles_username; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_profiles_username ON core.user_profiles USING btree (username);


--
-- Name: idx_role_permissions_permission; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_role_permissions_permission ON core.role_permissions USING btree (permission_id);


--
-- Name: idx_role_permissions_role; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_role_permissions_role ON core.role_permissions USING btree (role_id);


--
-- Name: idx_role_permissions_role_permission; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_role_permissions_role_permission ON core.role_permissions USING btree (role_id, permission_id);


--
-- Name: idx_roles_name; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_roles_name ON core.roles USING btree (name);


--
-- Name: idx_roles_type; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_roles_type ON core.roles USING btree (role_type);


--
-- Name: idx_sessions_expires_at; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_sessions_expires_at ON core.sessions USING btree (expires_at);


--
-- Name: idx_sessions_user_id; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_sessions_user_id ON core.sessions USING btree (user_id);


--
-- Name: idx_user_identities_provider_subject; Type: INDEX; Schema: core; Owner: app
--

CREATE UNIQUE INDEX idx_user_identities_provider_subject ON core.user_identities USING btree (provider, provider_user_id);


--
-- Name: idx_user_identities_provider_user; Type: INDEX; Schema: core; Owner: app
--

CREATE UNIQUE INDEX idx_user_identities_provider_user ON core.user_identities USING btree (provider, user_id);


--
-- Name: idx_user_identities_user_id; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_identities_user_id ON core.user_identities USING btree (user_id);


--
-- Name: idx_user_profiles_freelancer_role; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_freelancer_role ON core.user_profiles USING btree (((metadata -> 'roles'::text))) WHERE (metadata ? 'roles'::text);


--
-- Name: idx_user_profiles_freelancer_search; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_freelancer_search ON core.user_profiles USING gin (to_tsvector('simple'::regconfig, ((((((COALESCE(full_name, ''::text) || ' '::text) || COALESCE(bio, ''::text)) || ' '::text) || COALESCE(((metadata -> 'freelancer_profile'::text) ->> 'tagline'::text), ''::text)) || ' '::text) || COALESCE(((metadata -> 'freelancer_profile'::text) ->> 'professional_title'::text), ''::text)))) WHERE ((metadata -> 'freelancer_profile'::text) IS NOT NULL);


--
-- Name: idx_user_profiles_full_name_trgm; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_full_name_trgm ON core.user_profiles USING gin (full_name public.gin_trgm_ops);


--
-- Name: idx_user_profiles_location_trgm; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_location_trgm ON core.user_profiles USING gin (location public.gin_trgm_ops);


--
-- Name: idx_user_profiles_metadata_gin; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_metadata_gin ON core.user_profiles USING gin (metadata);


--
-- Name: idx_user_profiles_provider_skills_gin; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_provider_skills_gin ON core.user_profiles USING gin ((((metadata -> 'provider_profile'::text) -> 'skills'::text))) WHERE ((metadata -> 'provider_profile'::text) IS NOT NULL);


--
-- Name: idx_user_profiles_roles_gin; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_roles_gin ON core.user_profiles USING gin (((metadata -> 'roles'::text))) WHERE (metadata ? 'roles'::text);


--
-- Name: idx_user_profiles_search_surface_tsv; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_search_surface_tsv ON core.user_profiles USING gin (to_tsvector('simple'::regconfig, ((((((((((((((COALESCE(full_name, ''::text) || ' '::text) || COALESCE((username)::text, ''::text)) || ' '::text) || COALESCE(location, ''::text)) || ' '::text) || COALESCE(bio, ''::text)) || ' '::text) || COALESCE(((metadata -> 'freelancer_profile'::text) ->> 'professional_title'::text), ''::text)) || ' '::text) || COALESCE(((metadata -> 'freelancer_profile'::text) ->> 'tagline'::text), ''::text)) || ' '::text) || COALESCE(((metadata -> 'provider_profile'::text) ->> 'headline'::text), ''::text)) || ' '::text) || COALESCE(((metadata -> 'buyer_profile'::text) ->> 'intent'::text), ''::text))));


--
-- Name: idx_user_profiles_skills; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_profiles_skills ON core.user_profiles USING gin ((((metadata -> 'freelancer_profile'::text) -> 'skills'::text))) WHERE ((metadata -> 'freelancer_profile'::text) IS NOT NULL);


--
-- Name: idx_user_roles_role; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_roles_role ON core.user_roles USING btree (role_id);


--
-- Name: idx_user_roles_user; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_user_roles_user ON core.user_roles USING btree (user_id);


--
-- Name: idx_users_active_only; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_users_active_only ON core.users USING btree (id) WHERE ((is_active = true) AND (deleted_at IS NULL));


--
-- Name: idx_users_deleted; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_users_deleted ON core.users USING btree (deleted_at);


--
-- Name: idx_users_locked; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_users_locked ON core.users USING btree (lockout_expires_at) WHERE (lockout_expires_at IS NOT NULL);


--
-- Name: idx_users_lower_email; Type: INDEX; Schema: core; Owner: app
--

CREATE UNIQUE INDEX idx_users_lower_email ON core.users USING btree (lower((email)::text));


--
-- Name: idx_users_phone_normalized_unique; Type: INDEX; Schema: core; Owner: app
--

CREATE UNIQUE INDEX idx_users_phone_normalized_unique ON core.users USING btree (regexp_replace(phone, '[^0-9]'::text, ''::text, 'g'::text)) WHERE ((deleted_at IS NULL) AND (phone IS NOT NULL));


--
-- Name: idx_users_status; Type: INDEX; Schema: core; Owner: app
--

CREATE INDEX idx_users_status ON core.users USING btree (status);


--
-- Name: idx_audit_actor; Type: INDEX; Schema: events; Owner: app
--

CREATE INDEX idx_audit_actor ON events.audit_logs USING btree (actor_id);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: events; Owner: app
--

CREATE INDEX idx_audit_entity ON events.audit_logs USING btree (entity);


--
-- Name: idx_audit_user; Type: INDEX; Schema: events; Owner: app
--

CREATE INDEX idx_audit_user ON events.audit_logs USING btree (user_id);


--
-- Name: idx_identity_event_outbox_aggregate; Type: INDEX; Schema: events; Owner: app
--

CREATE INDEX idx_identity_event_outbox_aggregate ON events.event_outbox USING btree (aggregate_type, aggregate_id, created_at DESC);


--
-- Name: idx_identity_event_outbox_pending; Type: INDEX; Schema: events; Owner: app
--

CREATE INDEX idx_identity_event_outbox_pending ON events.event_outbox USING btree (status, available_at, created_at) WHERE (status = ANY (ARRAY['pending'::text, 'failed'::text]));


--
-- Name: organization_users audit_organization_users_changes; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER audit_organization_users_changes AFTER INSERT OR DELETE OR UPDATE ON core.organization_users FOR EACH ROW EXECUTE FUNCTION public.audit_row_changes();


--
-- Name: organizations audit_organizations_changes; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER audit_organizations_changes AFTER INSERT OR DELETE OR UPDATE ON core.organizations FOR EACH ROW EXECUTE FUNCTION public.audit_row_changes();


--
-- Name: permissions audit_permissions_changes; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER audit_permissions_changes AFTER INSERT OR DELETE OR UPDATE ON core.permissions FOR EACH ROW EXECUTE FUNCTION public.audit_row_changes();


--
-- Name: roles audit_roles_changes; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER audit_roles_changes AFTER INSERT OR DELETE OR UPDATE ON core.roles FOR EACH ROW EXECUTE FUNCTION public.audit_row_changes();


--
-- Name: user_profiles audit_user_profiles_changes; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER audit_user_profiles_changes AFTER INSERT OR DELETE OR UPDATE ON core.user_profiles FOR EACH ROW EXECUTE FUNCTION public.audit_row_changes();


--
-- Name: users audit_users_changes; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER audit_users_changes AFTER INSERT OR DELETE OR UPDATE ON core.users FOR EACH ROW EXECUTE FUNCTION public.audit_row_changes();


--
-- Name: groups groups_update_timestamp; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER groups_update_timestamp BEFORE UPDATE ON core.groups FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: organizations organizations_normalize_slug; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER organizations_normalize_slug BEFORE INSERT OR UPDATE ON core.organizations FOR EACH ROW EXECUTE FUNCTION public.normalize_org_slug();


--
-- Name: organizations organizations_track_updated_by; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER organizations_track_updated_by BEFORE UPDATE ON core.organizations FOR EACH ROW EXECUTE FUNCTION public.track_updated_by();


--
-- Name: organizations organizations_update_timestamp; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER organizations_update_timestamp BEFORE UPDATE ON core.organizations FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: permissions permissions_update_timestamp; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER permissions_update_timestamp BEFORE UPDATE ON core.permissions FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: roles roles_update_timestamp; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER roles_update_timestamp BEFORE UPDATE ON core.roles FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: user_profiles trg_identity_user_profiles_outbox; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER trg_identity_user_profiles_outbox AFTER INSERT OR DELETE OR UPDATE ON core.user_profiles FOR EACH ROW EXECUTE FUNCTION public.enqueue_identity_user_event();


--
-- Name: users trg_identity_users_outbox; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER trg_identity_users_outbox AFTER INSERT OR DELETE OR UPDATE ON core.users FOR EACH ROW EXECUTE FUNCTION public.enqueue_identity_user_event();


--
-- Name: roles trg_no_delete_system_roles; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER trg_no_delete_system_roles BEFORE DELETE ON core.roles FOR EACH ROW EXECUTE FUNCTION public.prevent_delete_system_roles();


--
-- Name: organization_users trg_org_user_no_last_admin; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER trg_org_user_no_last_admin BEFORE DELETE ON core.organization_users FOR EACH ROW EXECUTE FUNCTION public.prevent_remove_last_org_admin();


--
-- Name: user_identities user_identities_update_timestamp; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER user_identities_update_timestamp BEFORE UPDATE ON core.user_identities FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: user_profiles user_profiles_normalize_username; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER user_profiles_normalize_username BEFORE INSERT OR UPDATE ON core.user_profiles FOR EACH ROW EXECUTE FUNCTION public.normalize_username();


--
-- Name: user_profiles user_profiles_update_timestamp; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER user_profiles_update_timestamp BEFORE UPDATE ON core.user_profiles FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: users users_reset_login_attempts; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER users_reset_login_attempts BEFORE UPDATE ON core.users FOR EACH ROW EXECUTE FUNCTION public.reset_login_attempts_on_password_change();


--
-- Name: users users_track_updated_by; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER users_track_updated_by BEFORE UPDATE ON core.users FOR EACH ROW EXECUTE FUNCTION public.track_updated_by();


--
-- Name: users users_update_timestamp; Type: TRIGGER; Schema: core; Owner: app
--

CREATE TRIGGER users_update_timestamp BEFORE UPDATE ON core.users FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: sessions fk_sessions_user; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.sessions
    ADD CONSTRAINT fk_sessions_user FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: group_roles group_roles_group_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.group_roles
    ADD CONSTRAINT group_roles_group_id_fkey FOREIGN KEY (group_id) REFERENCES core.groups(id) ON DELETE CASCADE;


--
-- Name: group_roles group_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.group_roles
    ADD CONSTRAINT group_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES core.roles(id) ON DELETE CASCADE;


--
-- Name: group_users group_users_group_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.group_users
    ADD CONSTRAINT group_users_group_id_fkey FOREIGN KEY (group_id) REFERENCES core.groups(id) ON DELETE CASCADE;


--
-- Name: group_users group_users_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.group_users
    ADD CONSTRAINT group_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: groups groups_org_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.groups
    ADD CONSTRAINT groups_org_id_fkey FOREIGN KEY (org_id) REFERENCES core.organizations(id) ON DELETE CASCADE;


--
-- Name: organization_users organization_users_org_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organization_users
    ADD CONSTRAINT organization_users_org_id_fkey FOREIGN KEY (org_id) REFERENCES core.organizations(id) ON DELETE CASCADE;


--
-- Name: organization_users organization_users_role_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organization_users
    ADD CONSTRAINT organization_users_role_id_fkey FOREIGN KEY (role_id) REFERENCES core.roles(id) ON DELETE RESTRICT;


--
-- Name: organization_users organization_users_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organization_users
    ADD CONSTRAINT organization_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: organizations organizations_owner_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.organizations
    ADD CONSTRAINT organizations_owner_user_id_fkey FOREIGN KEY (owner_user_id) REFERENCES core.users(id) ON DELETE SET NULL;


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES core.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES core.roles(id) ON DELETE CASCADE;


--
-- Name: user_identities user_identities_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_identities
    ADD CONSTRAINT user_identities_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES core.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: core; Owner: app
--

ALTER TABLE ONLY core.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES core.users(id) ON DELETE CASCADE;


--
-- Name: organizations org_is_member; Type: POLICY; Schema: core; Owner: app
--

CREATE POLICY org_is_member ON core.organizations USING (((current_setting('app.is_system_request'::text, true) = 'true'::text) OR public.is_system_admin((current_setting('app.current_user_id'::text, true))::uuid) OR (EXISTS ( SELECT 1
   FROM core.organization_users ou
  WHERE ((ou.org_id = organizations.id) AND (ou.user_id = (current_setting('app.current_user_id'::text, true))::uuid))))));


--
-- Name: organization_users org_users_member; Type: POLICY; Schema: core; Owner: app
--

CREATE POLICY org_users_member ON core.organization_users USING (((current_setting('app.is_system_request'::text, true) = 'true'::text) OR public.is_system_admin((current_setting('app.current_user_id'::text, true))::uuid) OR (user_id = (current_setting('app.current_user_id'::text, true))::uuid)));


--
-- Name: organization_users; Type: ROW SECURITY; Schema: core; Owner: app
--

ALTER TABLE core.organization_users ENABLE ROW LEVEL SECURITY;

--
-- Name: organizations; Type: ROW SECURITY; Schema: core; Owner: app
--

ALTER TABLE core.organizations ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict szYeYbjnXPEuye0aJaJPVVohbgUC1LMO81bYfekFsKvCZHlAEHlBMBEUBWTn75X

